/******************** reset css for responsive *******************/

body{
    max-width: 100%;
}
img{
    max-width: 100%;
    height: auto;
}
*,
*::before,
*::after{
    max-width: 100%;
    box-sizing: border-box;
}



/************************************************
******************* responsive ******************
************************************************/

/********* サイドバーのレイアウト変更 **********/
.bar-position{
    z-index: 3;
    box-shadow: 0 .2rem rgba(0,0,0,0.2);
    width: 100%;
    height: auto;
}
.main-container{
    width: 100%;
}
.bar-position h2{
    font-size: 2rem;
    padding: 1.6rem 2rem;
    margin: 0;
}


/********* メニューボタンの記述 **********/
#menu-btn{
    position: fixed;
    top: 1.6rem;
    right: 2.2rem;
    width: 3rem;
    height: 1.6rem;
    cursor: pointer;
    z-index: 4;
}
#menu-btn span{
    position: absolute;
    display: block;
    top: 50%;
    width: 100%;
    height: .15rem;
    background: #fff;
    border-radius: .2rem;
    transition: all .6s;
}
#menu-btn span::before,
#menu-btn span::after{
    content: "";
    display: block;
    width: 100%;
    background: #fff;
    border-radius: .2rem;
    transition: all .6s;
    position: absolute;
}
#menu-btn span::before{
    height: .15rem;
    bottom: .8rem;
}
#menu-btn span::after{
    height: .2rem;
    top: .8rem;
}
#menu-btn.active span:before {
    transform: translateY(.8rem) rotate(-45deg);/*反時計回りに45度*/
}
#menu-btn.active span:after {
    transform: translateY(-.8rem) rotate(45deg);/*時計回りに45度*/
}
#menu-btn.active span{
    background-color: transparent;
}


/********* ハンバーガーメニューの記述 **********/
#hbg-menu{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}
#hbg-menu.active{
    opacity: 1;
    visibility: visible;
}
#menu-bg{
    width: 100%;
    height: 100vh;
}
.menu-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.contents-list,
.sns-list{
    text-align: center;
}
.contents-list ul li{
    font-size: 2rem;
    margin: 0;
    margin-bottom: 4rem;
    opacity: 1;
}
.sns-list ul{
    padding: 0 2rem;
}
.sns-list ul li{
    margin: 0 1.2rem 0 0;
    opacity: 1;
}
.sns-list ul li:last-child{
    margin-right: 0;
}
.sns-list ul li:first-child{
    margin-left: 0;
}


/********* Introduction **********/
.intro-area{
    padding-top: 10rem;
}
.title{
    font-size: 2.6rem;
    margin-bottom: 5rem;
}
.ft-title{
    margin-bottom: 3rem;
}


/********* contents **********/
.contents-area{
    margin-bottom: 0;
}
.contents-group{
    display: block;
}
.contents-index{
    width: 100%;
    margin-right: 0;
    margin-bottom: 4rem;
}
.contents-index h3{
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.contents-index img{
    width: 11rem;
    height: auto;
    margin-bottom: 2rem;
}
.contents-index p{
    width: 28rem;
    margin: 0 auto;
}
.down-button-bk{
    display: none;/* contents下にある矢印を非表示に */
}
.sd-container{
    height: auto;
}


/********* about **********/
#about{
    padding-top: 8rem;
}
.profile,
.comment{
    width: 100%;
    margin-bottom: 4rem;
}
.pf-img{
    width: 23rem;
    height: 23rem;
}
.ct-ttl:first-child{/* Aboutのh3の余白調整 */
    padding-top: 0rem;
}


/********* works **********/
#works{
    width: 80%;
    padding-top: 8rem;
    margin-bottom: 0;
}

/********* contact **********/
#contact{
    width: 80%;
    padding-top: 9.2rem;
    margin-bottom: 10rem;
}


/********* footer **********/
.submit-btn button{
    background-color: #fff;
}



/************************************************
****************** animation ********************
************************************************/

/********* sakupon.netのアニメーションのオフ **********/
.sideIn{
    animation: none;
}
.sns-list ul li{
    animation: none;
}
.contents-list ul li{
    animation: none;
}


/********* 遅延時間変更 **********/
.ft-title,
.intro-txt,
.sd-title,
.contents-index:nth-child(1),
.contents-index:nth-child(2),
.contents-index:nth-child(3),
.works-item:nth-child(3),
.works-item:nth-child(5){
    animation-delay: 0s;
}
.works-item:nth-child(2),
.works-item:nth-child(4),
.works-item:nth-child(6){
    animation-delay: .2s;
}
