/******************** reset css for responsive *******************/

body{
    max-width: 100%;
}
img{
    max-width: 100%;
    height: auto;
}
*,
*::before,
*::after{
    max-width: 100%;
    box-sizing: border-box;
}



/************************************************
******************* responsive ******************
************************************************/

/********* サイドバー,メイン,フッターのレイアウト変更 **********/
.bar-position{
    box-shadow: 0 .2rem rgba(0,0,0,0.2);
    width: 100%;
    height: auto;
    z-index: 3;
}
.main-container,
footer{
    width: 100%;
}
.bar-position h2{
    font-size: 2rem;
    padding: 1.4rem 2rem;
    margin: 0;
}


/********* メニューボタンの記述 **********/
#menu-btn{
    display: block;
    position: fixed;
    width: 3rem;
    height: 1.6rem;
    top: 1.6rem;
    right: 2.2rem;
    cursor: pointer;
    z-index: 4;
}
#menu-btn span{
    display: block;
    position: absolute;
    width: 100%;
    height: .15rem;
    top: 50%;
    background: #fff;
    border-radius: .2rem;
    transition: all .6s;
}
#menu-btn span::before,
#menu-btn span::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: .2rem;
    transition: all .6s;
}
#menu-btn span::before{
    height: .15rem;
    bottom: .8rem;
}
#menu-btn span::after{
    height: .2rem;
    top: .8rem;
}
#menu-btn.active span:before {
    transform: translateY(.8rem) rotate(-45deg);/*反時計回りに45度*/
}
#menu-btn.active span:after {
    transform: translateY(-.8rem) rotate(45deg);/*時計回りに45度*/
}
#menu-btn.active span{
    background-color: transparent;
}


/********* ハンバーガーメニューの記述 **********/
#hbg-menu{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}
#hbg-menu.active{
    opacity: 1;
    visibility: visible;
}
#menu-bg{
    width: 100%;
    height: 100vh;
}
.menu-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.contents-list,
.sns-list{
    text-align: center;
}
.sns-list ul{
    padding: 0 2rem;
}
.contents-list ul li{
    font-size: 1.8rem;
    margin: 0 0 4rem 0;
    opacity: 1;
}
.sns-list ul li{
    margin: 0 1.2rem 0 0;
    opacity: 1;
}
.sns-list ul li:last-child{
    margin-right: 0;
}
.sns-list ul li:first-child{
    margin-left: 0;
}


/********* top-container **********/
.center-text h1{
    font-size: 3rem;
}


/********* Introduction, Contents共通 **********/
.sd-container{
    height: auto;
}
.title{
    font-size: 2.4rem;
    margin-bottom: 5rem;
}
.title:after{
    width: 80%;
}

/********* Introduction **********/
.intro-area{
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#center{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro-txt{
    width: 70%;
    font-size: 1.4rem;
}
.intro-txt span{
    display: block;
    margin-bottom: 3rem;
}
.intro-txt span:last-child{
    margin-bottom: 0;
}


/********* Introductionの白矢印の記述 **********/
.btnOfSmall{
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    opacity: 0;
} 
.btnOfSmall a i{
    color: #fff;
}



/********* contents **********/
.contents-area{
    padding-top: 8rem;
    margin: 0;
}
.contents-group{
    display: block;
}
.contents-index{
    width: 100%;
    margin: 0 0 3rem 0;
}
.contents-index:nth-child(3){
    margin-bottom: 0;
}
.contents-index h3{
    font-size: 2.2rem;
    margin-bottom: 2rem;
}
.contents-index img{
    width: 10rem;
    height: auto;
    margin-bottom: 2rem;
}
.contents-index p{
    width: 24rem;
    margin: 0 auto;
}
.down-button-bk{
    display: none;/* contents下にある矢印を非表示に */
}


/********* About, Works, Contact共通**********/
#about,
#works,
#contact{
    width: 80%;
    padding-top: 8rem;
}
.ct-ttl{
    font-size: 2.4rem;
    margin-bottom: 4rem;
}
.ct-ttl:after{
    height: .3rem;
}


/********* about **********/
#about{
    margin-bottom: 0;
}
.profile{
    width: 100%;
    margin-bottom: 3rem;
}
.comment{
    width: 100%;
    margin-bottom: 0;
}
.ab-subttl{
    font-size: 2.2rem;
}
.pf-img{
    width: 21rem;
    height: 21rem;
    margin-bottom: 3rem;
}


/********* works **********/
#works{
    margin-bottom: 0;
}
.works-item{
    margin-bottom: 2rem;
}
.works-item:nth-child(6){
    margin-bottom: 0;
}


/********* modal **********/
.modal-content{
    width: 40rem;
}


/********* contact **********/
#contact{
    width: 70%;
}

/********* 確認画面の記述 **********/
.con-block{
    width: 100%;
    float: none;
    clear: none;
}
.confir p{
    float: none;
    width: 100%;
    margin-top: 1.2rem;
}


/********* footer **********/
.submit-btn button{
    background-color: #fff;
}




/************************************************
****************** animation ********************
************************************************/

/********* アニメーションのオフ **********/
.sideIn{
    animation: none;
}
.sns-list ul li{
    animation: none;
}
.contents-list ul li{
    animation: none;
}


/********* 遅延時間変更 **********/
.contents-index:nth-child(1),
.contents-index:nth-child(2),
.contents-index:nth-child(3){
    animation-delay: .2s; 
}
.btnOfSmall{
    animation-delay: .4s;
}
.sd-title,
.contents-index,
.works-item:nth-child(2),
.works-item:nth-child(3),
.works-item:nth-child(4),
.works-item:nth-child(5),
.works-item:nth-child(6){
    animation-delay: 0s;
}

