@import "setting";
@import "reset";

/************************************************
********************* header ********************
************************************************/

.side-bar{
    a{
        color: $color-wt;
    }
}
.bar-position{
    h2{
        display: inline-block;
    }
}
.sns-list{
    li{
        a{
            display: inline-block;
        }
    }
} 


/********* side-barの記述 **********/
.side-bar{
    position: relative;
}
#menu-btn{
    display: none;
}
.bar-position{
    position: fixed;
    width: 20%;
    height: $max-width; 
    top: 0;
    left: 0;
    background-color: $txt-color;
    h2{
        font-size: 2.2vw;
        margin: 14rem 0 5rem 3vw;
    }
}


/********* contents-listの見た目 **********/
.contents-list{
    ul{
        li{
            font-size: 1.6rem;
            margin: 0 0 2.6rem 3vw;
            &:last-child{
                margin-bottom: 5rem;
            }        
        }
    }
}


/********* sns-listの見た目 **********/
.sns-list{
    ul{
        display: flex;
        li{
            flex-direction: row;
            margin-left: 1rem;
            &:first-child{
                margin-left: 3vw;
            }
            a{
                img{
                    width: 2.8rem;
                    height: 2.8rem;                
                }
            }
        }
    }
}




/************************************************
********************* main **********************
************************************************/

/********* main-containerとfooterの領域設定 **********/
.main-container,
footer{
    width: 80%;
    float: right;
}


/********* main-imgの記述 **********/
.top-img{
    position: relative;
    width: $max-width;
    height: 100vh;
    background: url(../../img/main-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .img-mask{
        height: 100vh;
        background: rgba(0, 0, 0, 0.25);
    }
}


/********* center-textの記述 **********/
.center-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1{
        text-align: center;
        color: $color-wt;
        font-size: 3.6rem;
        font-family: 'Lobster', cursive;
        line-height: 1.3;    
    }
}


/********* down-button-wtの記述 **********/
.down-button-wt{
    width: 3rem;
    height: 3rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    a{
        i{
            color: $color-wt;
        }
    }
}


/********* introductionとcontentsのタイトル部分の記述 **********/
.btnOfSmall{
    display: none;
}
.intro-area{
    background-color: $txt-color;
    padding: 6rem 0;
    margin-bottom: 6rem;
}
.ft-title,
.sd-title{
    position: relative;
    font-size: 2.8rem;
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
    z-index: 1;
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 46rem;
        height: .1rem;
        top: 1.6rem;
        left: 50%;
        transform: translate(-50%);
        margin: 0 auto;
        z-index: -1;
    }
    span{
        padding: 0 2rem;
    }
}
.ft-title{
    color: $color-wt;
    &::after{
        background-color: $color-wt;
    }
    span{
        background-color: $txt-color;
    }
}
.sd-title{
    color: $txt-color;
    &::after{
        background-color: $txt-color;
    }
    span{
        background-color: $color-wt;
    }
}

.contents-area{
    background-color: $color-wt;
    padding: 0;
    width: $max-width;
    margin: 0 auto 8rem auto;
    h2{
        &::after{
            background-color: $txt-color;
        }
        span{
            background-color: $color-wt;
        }
    }
}
.intro-txt{
    width: 64%;
    font-size: 1.4rem;
    line-height: 1.5;
    color: $color-wt;
    margin: 0 auto;
}


/********* sd-containerの記述 **********/
.sd-container{
    position: relative;
    width: $max-width;
    height: 100vh;
}


/********* contentsの内容の記述 **********/
.contents-group{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contents-index{
    width: 28%;
    margin-right: 2rem;
    flex-direction: row;
    &:last-child{
        margin-right: 0; 
    }
    h3{
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    img{
        width: 9vw;
        height: 9vw;
        display: block;
        margin: 0 auto 3rem auto;
    }
    p{
        font-size: 1.4rem;
        line-height: 1.5;
    }
}


/********* down-button-bkの記述 **********/
.down-button-bk{
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    a{
        i{
            color: $txt-color;
        }
    }
}




/************************************************
********************* about *********************
************************************************/

#about{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding-top: 6rem;
}


/********* profileとcommentの記述 **********/
.pf-img{
    background: url(../../img/profile.jpg);
    display: block;
    content: "";
    width: 25rem;
    height: 25rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: .2rem .2rem.2rem .2rem #ececec;
    margin: 0 auto 4rem auto;
}
.profile,
.comment{
    width: 70%;
    box-shadow: .1rem .1rem .1rem .1rem #ececec;
    margin: 0 auto 4rem;
    padding: 1.5rem 2rem 1.5rem;
}
.comment{
    margin-bottom: 0;
    p{
        font-size: 1.4rem;
        line-height: 1.5;
        &:nth-of-type(1),
        &:nth-of-type(2){
            margin-bottom: 1.6rem;
        }
    }
}


/********* profileの記述 **********/
.ab-subttl{
    position: relative;
    text-align: center;
    font-size: 2.4rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: .1rem $txt-color dotted;
    border-top: .1rem $txt-color dotted;
}
.pf-area{
    width: $max-width;
}
.pf-list{
    width: 13rem;
    float: left;
    clear: left;
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: .7rem;
    &:last-child{
        margin-bottom: 0; 
    }
    span{
        margin-right: .8rem;
        margin-left: .2rem;
        i{
            font-size: 1.2rem;
            color: #93c9ff;
        }
    }
}
.pf-list-ctt{
    width: calc($max-width - 14rem);
    float: left;
    line-height: 1.3;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: .7rem;
    &:last-child{
        margin-bottom: 0; 
    }
}


/********* ct-ttlの記述 **********/
.ct-ttl{
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 5rem;
    &::after{
        content: "";
        display: block;
        width: 2.8rem;
        height: .3rem;
        background-color: $txt-color;
        margin: 2rem auto 0 auto;
    }
}


/************************************************
********************* works *********************
************************************************/

#works{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding-top: 6rem;
}
.works-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.works-item{
    width: 30rem;
    flex-direction: row;
    box-shadow: .1rem .1rem .1rem .1rem #ececec;
    padding: 1.2rem;
    margin-bottom: 2rem;
    transition: all .3s;
    &:hover{
        box-shadow: .3rem .3rem .3rem .3rem #ececec;
    }
    figure{
        width: $max-width;
        margin-bottom: 1.4rem;
        img{
            width: $max-width;
        }
    }
    .item-ttl{
        font-size: 1.6rem;
        text-shadow: .1rem .2rem .3rem #cecece;
        margin-bottom: 1.2rem;
        span{
            i{
                color: $txt-color;
                font-size: 1.6rem;
                margin-right: .8rem;
            }
        }
    }
    p{
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 1.2rem;
    }
}


/********* moreボタンの記述 **********/
.more{
    text-align: right;
    a{
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 1.2rem;
        border: .1rem $txt-color solid;
        padding: .5rem .9rem .7rem .9rem;
        z-index: 1;
        overflow: hidden;
        transition: all .5s;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: -$max-width;
            width: $max-width;
            height: $max-width;
            background: $txt-color;
            z-index: -1;
            transition: all .5s;
        }
        &:hover{
            color: $color-wt;   
            &::before{
                left: 0;
            }
        }
    }
}


/********* モーダルウィンドウの記述 **********/
#modal-area-1,
#modal-area-2,
#modal-area-3,
#modal-area-4,
#modal-area-5,
#modal-area-6{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    .modal-bg{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5)
    }
    .modal-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50rem;
        background-color: $color-wt;
        padding: 2rem 2rem;
        h2{
            font-size: 2.2rem;
            text-shadow: .1rem .2rem .3rem #cecece;
            margin-bottom: 1.4rem;
            span{
                i{
                    font-size: 2.2rem;
                    margin-right: 1rem;
                }
            }
        }
        figure{
            margin-bottom: 1.4rem;
            img{
                width: 100%;
            }
        }
        .modal-des{
            .modal-des-ttl{
                font-size: 2rem;
                text-shadow: .1rem .2rem .3rem #cecece;
                border-left: .2rem solid #51a8fa;
                padding-left: .8rem;
                margin-bottom: 1.2rem;
            }
            p{
                font-size: 1.4rem;
                line-height: 1.4;
                padding: 0 .8rem;
                margin-bottom: 1.4rem;
            }
        }
    }
}


/********* ×ボタンの記述 **********/
.close-fixed{
    position: relative;
}
.close{
    position: absolute;
    top: 1rem;
    right: .4rem;
    button{
        width: 2rem;
        height: 2rem;
        outline: 0;
        border: none;
        &::before,
        &::after{
            content: "";
            display: block;
            width: 1rem;
            position: absolute;
            border: 1px $txt-color solid;
        }
        &::before{
            transform: rotate(-45deg);
        }
        &::after{
            transform: rotate(45deg);
        }
    }
}


/********* view codeボタンの記述 **********/
.code{
    display: inline-block;
    display: block;
    text-align: center;
    .view-code{
        position: relative;
        display: inline-block;
        padding: .8rem 1.4rem;
        border: .1px $txt-color solid;
        cursor: pointer;
        font-size: 1.6rem;
        color: $txt-color;
        background: $color-wt;
        outline: 0;
        transition: all .5s;
        overflow: hidden;
        z-index: 1;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: -$max-width;
            width: $max-width;
            height: $max-width;
            background: $txt-color;
            z-index: -1;
            transition: all .5s;
        }
        &:hover{
            color: $color-wt;
            &::before{
                left: 0;
            }
        }
    }
}



/************************************************
********************* contact *******************
************************************************/

/********* 入力画面の記述 **********/
@mixin label-style{
    display: inline-block;
    padding: .4rem 0;
    text-align: right;
    color: $color-wt;
    border-radius: .2rem;
    padding: .4rem .8rem;
    margin-right: .5rem;
}
#contact{
    width: 63%;
    margin: 0 auto 8rem auto;
    padding-top: 6rem;
    form{
        width: $max-width;
        margin: 0 auto 4rem 0;
        font-size: 1.4rem;
    }
    .element_wrap{
        margin-bottom: 1.4rem;
        .label-req,
        .label-any{
            @include label-style;
            margin-bottom: .8rem;
        }
        .label-req{
            background-color: #DE4355;
        }
        .label-any{
            background-color: #51a8fa;
        }
        input{
            width:  $max-width;
            height: 2.4rem;
            display: block;
            font-size: 1.4rem;
            border: .1rem $txt-color solid;
            padding: .3rem .4rem;
            outline: 0;
        }
        textarea{
            width: $max-width;
            height: 20rem;
            font-size: 1.4rem;
            border: .1rem $txt-color solid;
            resize: none;
            padding: .3rem .4rem;
            outline: 0;
        }
    }
}


/********* 確認、送信、戻るボタンの記述 **********/
.submit-btn{
    width: 12rem;
    height: 3.4rem;
    margin: 3rem auto 0 auto;
}
input[name="btn_confirm"],
input[name="btn_submit"],
input[name="btn_back"]{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.4rem;
    border: none;
    padding: 0;
    background: rgba(14,47,51,100%);
    transition: all .5s;
    &:hover{
        background: rgba(14,47,51,80%);
    }
}


/********* 送信、戻るボタンの横並び記述 **********/
.btn-flex{
    display: flex;
    .sideBySide{
        flex-direction: row;
        &:nth-child(1){
            margin-right: 5rem;
        }
        &:nth-child(2){
            margin-left: 0;
        }
    }
}



/********* 必須項目が空白だった場合の記述 **********/
.error_list{
    margin-bottom: 1.6rem;
    li{
        font-size: 1.2rem;
        color: #DE4355;
        line-height: 1.5;
    }
}


/********* 確認画面の記述 **********/
.confir{
    border-bottom: .1rem $txt-color solid;
    padding: 1.4rem .2rem;
    &:nth-child(1){
        border-top: .1rem $txt-color solid;
    }
    .con-block{
        width: 20rem;
        float: left;
        clear: left;
        .label-req,
        .label-any{
            @include label-style;
        }
        .label-req{
            background-color: #DE4355;
        }
        .label-any{
            background-color: #51a8fa;
        }
    }
    p{
        float: left;
        width: calc(100% - 20rem);
        word-wrap: break-word;
        line-height: 1.3;
        margin-top: .2rem;
    }
}


/********* 送信完了画面の記述 **********/
.box{
    width: 80%;
    margin: 0 auto 2.4rem auto;
    h4{
        font-size: 2rem;
        text-align: center;
        line-height: 1.8;
        margin-bottom: 2rem;
        color: #DE4355;
    }
    p{
        font-size: 1.4rem;
        line-height: 1.5;
    }
}
.backSite{
    width: 12rem;
    height: 3.4rem;
    margin: 3rem auto 0 auto;
    a{
        font-size: 1.4rem;
        color: $color-wt;
        background: rgba(14,47,51,$max-width);
        padding: 1rem 1.6rem;
        margin: 0 auto;
        transition: all .5s;
        &:hover{
            background: rgba(14,47,51,80%);
        }
    }
}


/************************************************
********************* footer ********************
************************************************/

.home{
    text-align: center;
    margin-bottom: 4rem;
    a{
        display: inline-block;
        font-size: 1.6rem;
    }
}