$color-wt: #fff;
$max-width: 100%;

/******************** reset css for responsive *******************/

body{
    max-width: $max-width;
}
img{
    max-width: $max-width;
    height: auto;
}
*{
    max-width: $max-width;
    box-sizing: border-box;
    &::before,
    &::after{
        @extend *;
    }
}