@import "reset_res";


/************************************************
******************* responsive ******************
************************************************/

/********* サイドバー,メイン,フッターのレイアウト変更 **********/
.bar-position{
    box-shadow: 0 .2rem rgba(0,0,0,0.2);
    width: $max-width;
    height: auto;
    z-index: 3;
    h2{
        font-size: 2rem;
        padding: 1.6rem 2rem;
        margin: 0;
    }
}
.main-container,
footer{
    width: $max-width;
}


/********* メニューボタンの記述 **********/
#menu-btn{
    display: block;
    position: fixed;
    width: 3rem;
    height: 1.6rem;
    top: 1.6rem;
    right: 2.2rem;
    cursor: pointer;
    z-index: 4;
    span{
        display: block;
        position: absolute;
        width: $max-width;
        height: .15rem;
        top: 50%;
        background: $color-wt;
        border-radius: .2rem;
        transition: all .6s;
        &::before,
        &::after{
            content: "";
            display: block;
            position: absolute;
            width: $max-width;
            background: $color-wt;
            border-radius: .2rem;
            transition: all .6s;
        }
        &::before{
            height: .15rem;
            bottom: .8rem;
        }
        &::after{
            height: .2rem;
            top: .8rem;
        }
    }
    &.active{
        span{
            background-color: transparent;
            &::before{
                transform: translateY(.8rem) rotate(-45deg);/*反時計回りに45度*/
            }
            &::after{
                transform: translateY(-.8rem) rotate(45deg);/*時計回りに45度*/
            }
        }
    }
}


/********* ハンバーガーメニューの記述 **********/
#hbg-menu{
    position: absolute;
    width: $max-width;
    height: 100vh;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    &.active{
        opacity: 1;
        visibility: visible;    
    }
    #menu-bg{
        width: $max-width;
        height: 100vh;
    }
    .menu-area{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .contents-list,
        .sns-list{
            text-align: center;
        }
        .contents-list{
            ul{
                li{
                    font-size: 1.8rem;
                    margin: 0 0 4rem 0;
                    opacity: 1;
                }
            }
        }
        .sns-list{
            ul{
                padding: 0 2rem;
                li{
                    margin: 0 1.2rem 0 0;
                    opacity: 1;
                    &:last-child{
                        margin-right: 0;
                    }
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}


/********* top-container **********/
.center-text{
    h1{
        font-size: 3rem;
    }
}


/********* Introduction, Contents共通 **********/
.sd-container{
    height: auto;
    .title{
        font-size: 2.4rem;
        margin-bottom: 5rem;
        &::after{
            width: 80%;
        }
    }    
}


/********* Introduction **********/
.intro-area{
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    #center{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .intro-txt{
            width: 70%;
            font-size: 1.4rem;
            span{
                display: block;
                margin-bottom: 3rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }    
        }
    }
}


/********* Introductionの白矢印の記述 **********/
.btnOfSmall{
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    opacity: 0;
    a{
        i{
            color: $color-wt;
        }
    }
} 


/********* contents **********/
.contents-area{
    margin: 0;
    padding-top: 8rem;
    .contents-group{
        display: block;
    }
    .contents-index{
        width: $max-width;
        margin: 0 0 3rem 0;
        &:nth-child(3){
            margin-bottom: 0;
        }
        h3{
            font-size: 2.2rem;
            margin-bottom: 2rem;        
        }
        img{
            width: 10rem;
            height: auto;
            margin-bottom: 2rem;        
        }
        p{
            width: 24rem;
            margin: 0 auto;        
        }
    }    
}
.down-button-bk{
    display: none;/* contents下にある矢印を非表示に */
}


/********* About, Works, Contact共通**********/
#about,
#works,
#contact{
    width: 80%;
    padding-top: 8rem;
}
.ct-ttl{
    font-size: 2.4rem;
    margin-bottom: 4rem;
    &::after{
        height: .3rem;
    }
}


/********* about **********/
#about{
    margin-bottom: 0;
    .profile{
        width: $max-width;
        margin-bottom: 3rem;
        .ab-subttl{
            font-size: 2.2rem;
        }
    }
    .comment{
        width: $max-width;
        margin-bottom: 0;
    }
    .pf-img{
        width: 21rem;
        height: 21rem;
        margin: 0 auto 3rem;
    }
}


/********* works **********/
#works{
    margin-bottom: 0;
    .works-container{
        .works-item{
            margin-bottom: 2rem;
            width: 100%;
            &:nth-child(6){
                margin-bottom: 0;
            }
        }
    }
}


/********* modal **********/
.modal-content{
    width: 40rem;
}


/********* contact **********/
#contact{
    width: 80%;
}


/********* 確認画面の記述 **********/
.con-block{
    width: 100%;
    float: none;
    clear: none;
    p{
        float: none;
        width: 100%;
        margin-top: 1.2rem;
    }
}


/********* footer **********/
.submit-btn{
    button{
        background-color: $color-wt;
    }
}


/************************************************
****************** animation ********************
************************************************/

/********* アニメーションのオフ **********/
.sideIn{
    animation: none;
}
.sns-list{
    ul{
        li{
            animation: none;
        }
    }
}
.contents-list{
    ul{
        li{
            animation: none;
        }
    }
}